<ul class="nav">
    <li>
      <a href="h">
        <i class="fas fa-home fa-3x home"></i>
        <div class = "title">Global</div>
      </a>
    </li>
    
    <li>
      <a href="t">
        <i class="fab fa-twitter fa-3x twitter"></i>
        <div class = "title">My Thoughts</div>
      </a>
    </li>
    
    <li>
      <a href="h">
        <i class="fab fa-codepen fa-3x codepen"></i>
        <div class = "title">Logout</div>
      </a>
    </li>
    
    
    <div class="background">

      
    </div>
  
  </ul>
  
  